<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Item</title>
</head>
<body>
<form th:action="@{/item-update}" th:object="${item}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name" required>
    <br/>

    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <br/>

    <label for="price">Price</label>
    <input type="number" th:field="*{price}" id="price" placeholder="Price" step="0.01" required>
    <br/>

    <input type="submit" value="Update Item">
</form>
</body>
</html>
